#html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: #4D4032;
   
}

#home {
    background-image: url("http://cloud9condos.ca/images/greyClouds.png");
    background-size: 1500px 600px;
    background-repeat: no-repeat;
}
#menu {
    display: inline-block;
    background: cornflowerblue;
    color: aliceblue;
    text-align: center;
    padding: 5px;
    width: 99.3%;
    font-size: 18px;
    position: relative;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: darkslategray;
}

a:hover {
    text-decoration: underline;
}
h1 {
    color: steelgray;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    text-shadow: 2px 2px #aaaaaa;
    font-family: sans-serif;
    margin-bottom: 0px;
}

.circle1 {
    width: 50px;
    height: 50px;
    padding: 40px;
    display: inline-block;
    background: linear-gradient(#80bfff, cornflowerblue, steelblue);
    color: white;  
    border-width: 10px;
    border-radius: 50%;
    border-color:white;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    box-shadow: 5px 5px 5px #888888;
}
.circle {
    padding: 5px;
    width: 0px;
    height: 0px;
    display: inline-block;
    background: linear-gradient(#80bfff, cornflowerblue, steelblue);
    color: white;    
    border-width: 10px;
    border-radius: 50%;
    border-color:white;
    text-align: center;
    font-size: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    box-shadow: 5px 5px 5px #888888;
    
}


#cplogo, #githublogo, #linkedinlogo, #resumelogo, #email, #projectlogo, #elizabeth, #habitat, #closest, #animation, #fblogo, #pictionary, #more, #jianlilogo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

#language {
    text-align: right;
    font-size: 14px;
}

#about {
    
    background: linear-gradient(#80bfff, cornflowerblue, steelblue);
    background-size: cover;
    font-family: sans-serif;
    padding: 20px;
    padding-bottom: 50px;
    color: white;
}


#projects {
  padding-left: 150px;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    color: steelblue;
}

ul {
    margin-left: 200px;
    
}
#projecttext {
    color: steelblue;
    font-size: 20px;
    font-family: sans-serif;
    margin-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#abtext {
    margin: auto;
    text-align: left;
    font-size: 20px;
    padding-top: 20px;
    margin-left: 550px;
    margin-right: 100px;
    display: inline-block;
}
#cube {
    display: inline-block;
    height: 350px;
    margin-left: 150px;
    margin-top: -50px;
}
.procircle {
  padding: 60px;
  background: linear-gradient(#80bfff, cornflowerblue, steelblue);
  color: white;
  border-width: 10px;
  border-radius: 50%;
  border-color: white;
  text-align: center;
  font-size: 0px;
  position: absolute;
   box-shadow: 5px 5px 5px #888888;
    margin-left: 40px;
}

.abcircle {
  text-align: center;
  font-size: 0px;
  position: absolute;
}

.concircle {
   padding: 40px;
  background: linear-gradient(lightgray, dimgray);
  color: white;
  border-width: 10px;
  border-radius: 50%;
    width: 50px;
    height: 50px;
  border-color: white;
  text-align: center;
  font-size: 0px;
  position: absolute;
   box-shadow: 5px 5px 5px #333;
    left: 0;
    right: 0;
    margin: auto; 
    margin-top: -80px;
}

#contact {
    background: steelblue;
    background-size: cover;
    height: 130px;
    padding: 20px;
}

#connect {
    display: inline-block;
    font-size: 40px;
    font-family: sans-serif;
    color: aliceblue;
    margin-bottom: -20px;
    margin-left: 100px;
}