#html {
    
    height: 100%;
    width: 100%;
    font-family: Century Gothic, sans-serif;
}


h1 {
    color: steelgray;
    text-align: left;
    padding: 10px;
    font-size: 50px;
    text-shadow: 2px 2px #aaaaaa;
}

.circle1 {
    width: 50px;
    height: 50px;
    padding: 40px;
    display: inline-block;
    background: linear-gradient(#80bfff, cornflowerblue, steelblue);
    color: white;  
    border-width: 10px;
    border-radius: 50%;
    border-color:white;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    font-family: Century Gothic, sans-serif;
}
.circle {
    padding: 5px;
    width: 0px;
    height: 0px;
    display: inline-block;
    background: linear-gradient(#80bfff, cornflowerblue, steelblue);
    color: white;    
    border-width: 10px;
    border-radius: 50%;
    border-color:white;
    text-align: center;
    font-size: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    font-family: Century Gothic, sans-serif;
    
}


#fblogo, #githublogo, #linkedinlogo, #resumelogo, #email, #projectlogo, #elizabeth, #habitat, #closest, #animation, #goback, #pictionary, #more, #jianlilogo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

#language {
    text-align: right;
    font-size: 14px;
}

#about {
    background: linear-gradient(lightgray,white);
    height: 100%;
    font-family: Century Gothic, sans-serif;
    padding: 40px;
}


#projects {
  padding: 40px;
    height: 100%;
    font-family: Century Gothic, sans-serif;
}

ul {
    margin-left: 150px;
    margin-top: 20px;
}

.procircle {
  padding: 60px;
  background: linear-gradient(#80bfff, cornflowerblue, steelblue);
  color: white;
  border-width: 10px;
  border-radius: 50%;
  border-color: white;
  text-align: center;
  font-size: 0px;
  position: absolute;
  
}
